/* To Do: Links hübscher stylen */
a:link, a:visited {
  color: rgb(95, 0, 204);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: rgb(173, 102, 255);
}

a:active {
  color: rgb(229, 204, 255);
}

body {
  font-family: 'Architects Daughter', cursive;
  color: rgb(95, 0, 204);
}

/* Bilder */
.quer {
  width: 70%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(95, 0, 204);
}

.hoch {
  width: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(95, 0, 204);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

li {
  font-size: 24px;
  list-style-type: none;
  text-align: center;
}

#ccIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buttons_top,
#buttons {
  display: none;
}

#buttons, #buttons_top.display {
  display: block;
  text-align: center;
}

/* #buttons_top.display {
  width: 30%;
} */

#song
#button_feedback,
#button_song_top {
  margin: 5%;
}

#button_feedback {
  float: left;
  margin-left: 20%;
  margin-top: 90px;
}

#button_song_top,
#button_song {
  margin-right: 25%;
}

/* Animation von oben nach unten (langsam) */
@keyframes scroll {
  from {top: 0;}
  to {top: -12900px;}
}

@-webkit-keyframes scroll {
  from {top: 0;}
  to {top: -12900px;}
}

.imagecontainer.animate {
  animation-name: scroll;
  animation-duration: 200s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* Animation von unten nach oben (schnell) */
@keyframes up {
  from {top: -12900px;}
  to {top: 50px;}
}

@-webkit-keyframes up {
  from {top: -12900px;}
  to {top: 50px;}
}

.imagecontainer.animate.end {
  animation-name: up;
  animation-duration: 0.01s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* Button, der die Animation startet */
#animation {
  position: absolute;
  top: 50px;
  left: -200px;
}
