.handschrift{
	font-size: 20pt;
}

ul { 
  list-style: none 
}

#fieldset{
	border:none;
}


#puzzleVertrauen {
  display: none;
}


#puzzleVertrauen.display {
  display: block;
  position: absolute;
  left: 500px;
  top: 170px;
  padding: 20px;
  /* background-color: rgb(204, 153, 255); */
  background-color: rgb(229, 204, 255); /* lila */
  border-color: rgb(173, 102, 255); /* dunkellila */
  border-radius: 10%;
  border-width: 5px;
  border-style: solid;
}


/* Video mit Emilie lieberherr */
#SRF_player {
  display: none;
}

#SRF_player.display {
  display: block;
  width: 390px;
  height: 290px;
  position: absolute;
  left: 560px;
  top: 330px;
  /* Hinter dem Fernseher */
  z-index: 2;
}


#fernseher {
  display: none;
}

#fernseher.display {
  display: block;
  width: 680px;
  position: absolute;
  left: 500px;
  top: 215px;
  /* Hinter dem Fernseher */
  z-index: 3;
}

#showTV{
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
}

#helvetia{
  display: block;
  position: absolute;
  left: 570px;
  top: 150px;
  width: 50px;
  height: 80px;
}

/* Button "Rätsel starten" */
#startPuzzle {
  position: absolute;
  left: 1070px;
}

/* Rätsel zu Emilie lieberherr */
#puzzle_lieberherrQuestions {
  display: none;
}

#puzzle_lieberherrQuestions.display {
  display: block;
  position: absolute;
  left: 800px;
  top: 170px;
  padding: 20px;
  background-color: rgb(204, 153, 255);
  border-color: rgb(204, 102, 255);
  border-width: 5px;
  border-style: solid;
}

#fahne {
  display: none;
}

#fahne.display {
  display: block;
  width: 100px;
  position: absolute;
  /* border-style: solid;
  border-width: 5px;
  border-color: black; */
}
