

.handschrift{
	font-size: 20pt;
}

.handschrift.label {
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

.fieldset{
	border:none;
}

#alert_wrongAnswer{
	left: 370px;
}

#bv4puzzle{
	left: 370px;
}

#puzzleVertrauen {
	text-align: left;
	width:600px;
	top:100px;
	left:270px;
}

#helvetiagross.hide {
	display:none;
}

#helvetiagross{
	position:absolute;
	width:650px;
	top:100px;
	left:270px;
	z-index:2;
}

ul { 
  list-style: none 
}

#backTV {
	Position:absolute;
	left: 200px;
	
}


#bv4text.hide {
	display:none;
}

#bv4text{
	background-color:white;
	position:absolute;
	width:700px;
	top:200px;
	left:270px;
	font-family: 'Architects Daughter', cursive;
	color: rgb(95, 0, 204);
	font-size: 30px;
	text-align:center;
	border-color: rgb(95, 0, 204); /* dunkellila */
  border-radius: 7%;
  border-width: 2px;
  border-style: solid;
}
	
	

.bv4{
	position:absolute;
	z-index:5;
}

.bv4.display {
	/*background-color: rgb(201, 153, 255);*/
	position:absolute;
	z-index:5;
	border-radius: 20px;
    box-shadow: 0 0 20px #ad66ff;
}


#bv4-1{
	left:550px;
	top:555px;
	height: 30px;
	width: 30px;
}

#bv4-2{
	left:230px;
	top:715px;
	height: 25px;
	width: 25px;
}

#bv4-3{
	left:555px;
	top:710px;
	height: 25px;
	width: 25px;
}

#bv4-4{
	left:925px;
	top:705px;
	height: 25px;
	width: 25px;
}
#bv4-5{
	left:520px;
	top:585px;
	height: 25px;
	width: 25px;
}


/* Video mit Emilie lieberherr */
#SRF_player {
  display: none;
}

#SRF_player.display {
  display: block;
  width: 390px;
  height: 290px;
  position: absolute;
  left: 560px;
  top: 330px;
  /* Hinter dem Fernseher */
  z-index: 2;
}

#TV_black{
	display:none;
}

#TV_black.display{
  display: block;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 600px;
  background-color: black;
  z-index: 1;
}

#fernseher {
  display: none;
}

#fernseher.display {
  display: block;
  width: 680px;
  position: absolute;
  left: 500px;
  top: 215px;
  /* Hinter dem Fernseher */
  z-index: 4;
}

#showTV{
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  z-index: 4;
}

#helvetia{
  display: block;
  position: absolute;
  left: 570px;
  top: 150px;
  width: 50px;
  height: 80px;
  z-index: 2;
}

#helvetia.display{
  display: block;
  position: absolute;
  left: 570px;
  top: 150px;
  width: 50px;
  height: 80px;
  z-index: 3;
  border-radius: 50px;
  box-shadow: 0 0 10px #ad66ff;
}



#fahne {
  display: none;
}

#fahne.display {
  display: block;
  width: 100px;
  position: absolute;
  z-index: 999:
  /* border-style: solid;
  border-width: 5px;
  border-color: black; */
}
