h1 {
  text-align: center;
}

#ruth {
  width: 25%;
  /* padding-left: 10%; */
  padding-top: 5%;
  float: left;
}

#fahne {
  width: 25%;
  padding: 5%;
  float: left;
}

p {
  padding-top: 5%;
  font-size: 18px;
}
