h1 {
  text-align: center;
}

#helvetia {
  width: 50%;
  /* padding-left: 10%; */
  padding-top: 5%;
  padding-bottom: 3%;
  float: left;
}

#fahne {
  width: 25%;
  padding: 5%;
  float: left;
}

h2 {
  padding-left: 9%;
}

p {
  font-size: 22px;
  padding-left: 9%;
}

#texttop {
  padding-top: 5%;
}

#start {
  float: right;
  margin-right: 5%;
}

#wir {
  float: right;
  margin-right: 5%;
}

a:link, a:visited {
  color: rgb(95, 0, 204);
  text-decoration: underline;
  outline: none;
}

a:hover {
  color: rgb(173, 102, 255);
}

a:active {
  color: rgb(229, 204, 255);
}
