#SRF_player {
  display: none;
}

#SRF_player.display {
  display: block;
  width: 480px;
  height: 270px;
  position: absolute;
  left: 200px;
  top: 215px;
  /* Hinter dem Fernseher */
  z-index: 2;
}

#fernseher {
  display: none;
}

#fernseher.display {
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 1200px;
  height: 750px;
  z-index: 3;
}

#tv_black {
  display: none;
}

#tv_black.display {
  display: block;
  width: 1200px;
  height: 750px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: black;
  z-index: 1;
}

/* Untertitel */
.untertitel {
  display: none;
}

/* Untertitel werden sichtbar und wieder unsichtbar */
@keyframes displayHide {
    0% {
        opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.untertitel.display {
  display: flex;
  position: absolute;
  left: 300px;
  top: 220px;
  width: 310px;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(229, 204, 255);
  text-align: center;
  z-index: 4;
  opacity: 0;
  animation-name: displayHide;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}

/* Button "Ich bin informiert" */
#startPuzzle {
  position: absolute;
  left: 1070px;
  top: 770px;
  font-size: 18px;
  padding: 10px;
  /* width: 100px; */
}

#puzzle_videoQuestions_1,
#puzzle_videoQuestions_2,
#puzzle_videoQuestions_3 {
  display: none;
}

/* Pop-up bei falscher Antwort */
#alert_wrongAnswer {
  display: none;
}

#puzzle_videoQuestions_1.display,
#puzzle_videoQuestions_2.display,
#puzzle_videoQuestions_3.display,
#alert_wrongAnswer.display {
  display: block;
  position: absolute;
  left: 450px;
  top: 200px;
  width: 350px;
  padding: 2%;
  padding-bottom: 5%;
  /* Schrift */
  color: rgb(95, 0, 204);
  font-size: 22px;
  /* background-color: rgb(204, 153, 255); */
  background-color: rgb(229, 204, 255); /* lila */
  /* border-color: rgb(173, 102, 255); /* dunkellila */
  border-color: rgb(95, 0, 204); /* dunkellila */
  border-radius: 7%;
  border-width: 3px;
  border-style: solid;
  /* Wegen Button-Position */
  text-align:center;
}

#puzzle_videoQuestions_3.display {
  top: 50px;
  left: 450px;
}

input[type="text"] {
  width: 100px;
}

/* Button soll in der Mitte sein */
.inputButton {
  position: absolute;
  bottom: 5%;
  right: 39%;
  margin: 2%;
}
