/* Der imagecontainer muss position:relative haben, damit
eventuelle Kind-Elemente absolut positioniert werden können */

.imagecontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 1200px;
}

#hintergrund {
  width: inherit;
  z-index: -1;
}

#lotti,#testvideo_2 {
  display: none;
}

#lotti.display,#testvideo_2.display {
  display: block;
  width: 350px;
  height: 196.875px;
  position: absolute;
  left: 270px;
  top: 240px;
  /* z-index: 2; */
}
