
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');



#text {
  display: flex;
  justify-content: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 28pt;
}