/* Ruths Mund */
/* div */
#mund {
  display: none;
}

#mund.display {
  display: block;
  position: absolute;
  left: 770px;
  top: 165px;
  width: 60px;
}

/* Bild */
#mundbild {
  max-width: 100%;
}

/* Zeitungsartikel */
#zeitungsartikel {
  display: none;
}

#zeitungsartikel.display {
  display: block;
  position: absolute;
  left: 25%;
  top: 8%;
  width: 50%;
  max-height: 600px;
  overflow: hidden;
  border-color: rgb(95, 0, 204);
  border-width: 3px;
  border-style: solid;
  z-index: 3;
}

#artikelbild {
  max-width: 100%;
}

#fahne {
  display: none;
}

#fahne.display {
  display: block;
  position: absolute;
  /* right: 40px; */
  top: 40px;
  left: 860px;
  width: 300px;
  z-index: 2;
}

/* Button zum Quiz starten */
#startPuzzle {
  display: none;
}

#startPuzzle.display {
  display: block;
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 18px;
  padding: 10px;
}

#puzzle.display {
  text-align: left;
  top: 50px;
  left: 350px;
  width: 500px;
}

#button_solution {
  position: absolute;
  left: 240px;
  top: 330px;
}

#alert_wrongAnswer {
  display: none;
}

#alert_wrongAnswer.display {
  display: block;
}

/* Pfeile, zum zwischen den Zeitungsartikeln wechseln */
.arrow {
  display: none;
}

.arrow.display {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: solid rgb(95, 0, 204);
  border-width: 0 8px 8px 0;
  z-index: 4;
}

.arrow:hover {
  border-color: rgb(201, 153, 255);
  opacity: 1;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: 78%;
  top: 37%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left:17.5%;
  top: 37%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  left: 47.5%;
  top: 88%;
  /* opacity: 0; */
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: 47.5%;
  top: 2%;
  /* opacity: 0; */
}
