#SRF_player {
  display: none;
}

#SRF_player.display {
  display: block;
  width: 480px;
  height: 270px;
  position: absolute;
  left: 200px;
  top: 215px;
  /* Hinter dem Fernseher */
  z-index: 2;
}

#fernseher.hide {
  display: none;
}

#fernseher {
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 1200px;
  height: 750px;
  z-index: 3;
}

#tv_black.hide {
  display: none;
}

#tv_black {
  display: block;
  width: 1200px;
  height: 750px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: black;
  z-index: 1;
}

#hintergrund{
	z-index:0;
}