/* img {
  width: 100%;
} */

.imagecontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 1280px;
}

#start {
  /* width: 1280px; */
  z-index: -1;
}

#puzzle1 {
  display:none;
}

#puzzle1.display {
  display: inline-block;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 130px;
  left: 730px;
  z-index: 2;
  /* border: 1px solid red; */
}

/* #solution1 {
  width: 20px;
} */
