*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
}



#weckerdrehen {
	display: none;
}

#weckerdrehen.display {
	display:flex;
	position: absolute;
	height: 300px;
    width: 50px;
    top: 300px;
    left: 700px;
	z-index:10;
	
}


#kalenderblatt {
	display:flex;
	position: absolute;
	height: 100px;
    /*width: 50px;*/
    top: 115px;
    left: 400px;
	z-index:2;
	cursor: move;
}




#kalenderblatt.hide {
	display: none;
}

#aufziehschluessel3 {
	display:flex;
	position: absolute;
	height: 30px;
    /*width: 50px;*/
    top: 625px;
    left: 320px;
	z-index:2;
}

#aufziehschluessel3.hide {
	display: none;
}

#aufziehen {
	display: none;
}

#aufziehen.display {
	display:flex;
	position: absolute;
	height: 25px;
    width: 25px;
    top: 375px;
    left: 580px;
	z-index:20;
}

#nacht {
  position: absolute;
  height: 750px;
  width: 1200px;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: black;
  opacity: 0.8;

}
#nacht.hide {
  display:none;

}

#schalter {
  position: absolute;
  height: 30px;
  width: 40px;
  top: 450px;
  left: 295px;
  z-index: 10;

}
#schalter.hide {
  display:none;

}

#spinner {
  display: none;
}
#spinner.display {
  display: flex;
  position: absolute;
  top: 440px;
  left: 490px;
  background-image: url(bilder/Zahlenrad-hintergrund.png); /*http://i.stack.imgur.com/0Fc85m.png*/
	/* background-image: url("bilder/Zahlenrad-hintergrund.png"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 75px;
  width: 200px;
  z-index: 6;
}
.number9 {
  background-image: url(bilder/Zahlenrad-zahlen9.png);/*http://i.stack.imgur.com/c0ufam.png*/
  background-repeat: no-repeat;
  background-size: 75% 330px;
  height: 75px;
  width: 30px;
  margin-left: 5px;
  float: left;
}
.number3 {
  background-image: url(bilder/Zahlenrad-zahlen3.png);/*http://i.stack.imgur.com/c0ufam.png*/
  background-repeat: no-repeat;
  background-size: 75% 330px;
  height: 75px;
  width: 30px;
  margin-left: 5px;
  float: left;
}
.number2 {
  background-image: url(bilder/Zahlenrad-zahlen2.png);/*http://i.stack.imgur.com/c0ufam.png*/
  background-repeat: no-repeat;
  background-size: 75% 330px;
  height: 75px;
  width: 30px;
  margin-left: 5px;
  float: left;
}
.number1 {
  background-image: url(bilder/Zahlenrad-zahlen1.png);/*http://i.stack.imgur.com/c0ufam.png*/
  background-repeat: no-repeat;
  background-size: 75% 330px;
  height: 75px;
  width: 30px;
  margin-left: 5px;
  float: left;
}

#wecker_hinten {
  display: none;
}

#wecker_vorne {
  display: none;
}

#wecker_vorne.display, #wecker_hinten.display {
  display: flex;
  /*position: absolute;
  left: 500px;
  top: 150px;
  width: 400px;*/
  /*width: 800px;*/
  height: 500px;
  position: absolute;
  top: 150px;
  left: 200px;
  z-index:5;
  /*transform: translate(-50%, -50%);*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

}



/* Ziffernblatt */

#clockbox {
display: none;
}

#clockbox.display {
  display: flex;
  /* justify-content: center;
  align-items: middle; */
  width: 350px;
  height: 350px;
  position: absolute;
  top: 295px;
  left: 440px;
  overflow: hidden;
  z-index:6;
  /*border-radius: 250px;
  border: 10px solid #111;*/
  /*transform: translate(-50%, -50%);*/
  /*background: white;*/
}

#clock {
  width: 300px;
  height: 300px;
}


#aufziehschluessel {
  display: none;
}

#aufziehschluessel.display {
  display:flex;
  width: 65px;
  top: 300px;
  left: 500px;
  position: absolute;
  z-index:10;
}


/* Clock styles */
.circle {
    fill: white;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;

}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}
.timer-arm {
    fill: none;
    stroke: #000;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.draggable {
    cursor: move;
}

.static {
    cursor: not-allowed;
}


/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#timer,
#minute,
#second {
    transform-origin: 300px 300px;
}


/* Wenn auf den Wecker geklickt wird, wird die Klasse display
zum Tag mit dem Rätsel hinzugefügt, sodass es angezeigt wird */
/* #puzzle1.display {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 30px;
  background-color: #99ffcc;
  position: absolute;
  top: 130px;
  left: 730px;
  z-index: 3;
  border: 3px solid red;
} */
