*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 18px;
}

#wecker_vorne {
  display: none;
}

#wecker_vorne.display, #wecker_hinten.display {
  display: flex;
  /*position: absolute;
  left: 500px;
  top: 150px;
  width: 400px;*/
  width: 500px;
  height: 500px;
  position: absolute;
  top: 250px;
  left: 400px;
  /*transform: translate(-50%, -50%);*/
  
}

#wecker_hinten {
  display: none;
}



/* Ziffernblatt */

#clockbox {
display: none;
}

#clockbox.display {
  display: flex;
  /* justify-content: center;
  align-items: middle; */
  width: 250px;
  height: 250px;
  position: absolute;
  top: 450px;
  left: 500px;
  overflow: hidden;
  border-radius: 250px;
  border: 10px solid #111;
  /*transform: translate(-50%, -50%);*/
  background: white;
}

#clock {
  width: 50%;
}
	

.num{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	padding: 18px;
}

.num:after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	height: 15px;
	background-color: black;
}


.num1{
	transform: rotate(30deg);
}
.num1 div{
	transform: rotate(-30deg);
}

.num2{
	transform: rotate(60deg);
}
.num2 div{
	transform: rotate(-60deg);
}

.num3{
	transform: rotate(90deg);
}
.num3 div{
	transform: rotate(-90deg);
}

.num4{
	transform: rotate(120deg);
}
.num4 div{
	transform: rotate(-120deg);
}

.num5{
	transform: rotate(150deg);
}
.num5 div{
	transform: rotate(-150deg);
}

.num6{
	transform: rotate(180deg);
}
.num6 div{
	transform: rotate(-180deg);
}

.num7{
	transform: rotate(210deg);
}
.num7 div{
	transform: rotate(-210deg);
}

.num8{
	transform: rotate(240deg);
}
.num8 div{
	transform: rotate(-240deg);
}

.num9{
	transform: rotate(270deg);
}
.num9 div{
	transform: rotate(-270deg);
}

.num10{
	transform: rotate(300deg);
}
.num10 div{
	transform: rotate(-300deg);
}

.num11{
	transform: rotate(330deg);
}
.num11 div{
	transform: rotate(-330deg);
}

.hand{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hand div{
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
}

.sec{
	width: 1px;
	height: 40%;
}

.min{
	height: 38%;
	width: 4px;
	border-radius: 2px;
}

.hour{
	height: 28%;
	width: 10px;
	border-radius: 4px;
	cursor: move;
}

.timer{
	height: 18%;
	width: 6px;
	border-radius: 2px;
	
}

#aufziehschluessel {
  display: none;
}

#aufziehschluessel.display {
  display: block;
  width: 100px;
  position: absolute;
}

  /* border-style: solid;
  border-width: 5px;
  border-color: black; */

/* Clock styles - Wecker-Ziffernblatt 
.circle {
  fill: white;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.mid-circle {
  fill: #000;
}
.hour-marks {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.hour-arm {
  fill: none;
  stroke: #000;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #000;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}/*

/* Transparent box ensuring arms center properly. */
/*.sizing-box {
  fill: none;
}/*

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
/*#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform .5s ease-in-out;
}
*/
/* Das Placeholder-Rätsel wird zunächst nicht angezeigt */
/* #puzzle1 {
  display: none; */
/* } */

/* Wenn auf den Wecker geklickt wird, wird die Klasse display
zum Tag mit dem Rätsel hinzugefügt, sodass es angezeigt wird */
/* #puzzle1.display {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 30px;
  background-color: #99ffcc;
  position: absolute;
  top: 130px;
  left: 730px;
  z-index: 3;
  border: 3px solid red;
} */
