/* Der imagecontainer muss position:relative haben, damit
eventuelle Kind-Elemente absolut positioniert werden können */
.imagecontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 1200px;
}

#hintergrund {
  width: inherit;
  z-index: -1;
}

/* Das Placeholder-Rätsel wird zunächst nicht angezeigt */
#puzzle1 {
  display: none;
}

/* Wenn auf den Wecker geklickt wird, wird die Klasse display
zum Tag mit dem Rätsel hinzugefügt, sodass es angezeigt wird */
#puzzle1.display {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 30px;
  background-color: #99ffcc;
  position: absolute;
  top: 130px;
  left: 730px;
  z-index: 3;
  border: 3px solid red;
}
