/* img {
  width: 100%;
} */

.imagecontainer {
  position: relative;
  top: 0;
  left: 0;
  width: 1200px;
}

#hintergrund {
  width: inherit;
  z-index: -1;
}

#ruth {
  display: inline-block;
  width: 100px;
  /* Position needs to be styled
  inline so it can be manipulated
  with JS */
  z-index: 2;
}

/* #solution1 {
  width: 20px;
} */
