

ul { 
  list-style: none 
}

.handschrift{
	font-size: 20pt;
}

.handschrift.label {
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}

.fieldset{
	border:none;
}

#frage {
	text-align: left;
	width:300px;
	top:100px;
	left:400px;
}

#alert_wrongAnswer{
	left: 370px;
}

#abstimmungszettel {
	display:flex;
	position: absolute;
	height: 50px;
    width: 80px;
    top: 410px;
    left: 535px;
	z-index:2;
	cursor: pointer;
}



#abstimmungszettel.hide {
	display: none;
}


#alert_wrongAnswer{
	left: 370px;
}

#button_solution {
	Position:absolute;
	left: 125px;
	
}
