h1 {
  margin-top: 100px;
}

ul {
  list-style: none;
}

.handschrift{
  font-size: 22px;
}

#wir_bild{
  float: left;
  margin-right: 50px;
}

#wir_text{
	text-align: left;
  margin: 20px;
}

#text {
  margin-top: 50px;
  text-align: left;
}

#block3{
	text-align: left;
}

#hintergrund{
	height: 830px;
	width: 1200px;
  border: none;
}

#button_back,
#button_feedback {
  margin: 20px;
  /* float: right; */
}

#buttons {
  position: absolute;
  top: 10px;
  left: 1200px;
}
