

ul {
  list-style: none;
}


.handschrift{
	/* font-size: 18px; */
  font-size: 22px;
}

#wir_bild{
	/* position: absolute;
	left: 20px;
	top: 100px */
  float: left;
  margin: 20px;
}

#wir_text{
	position: absolute;
	left: 550px;
  top: 100px;
	/* top: 200px; */
	text-align: left;
  margin: 20px;
}

#block3{
	position: absolute;
	/* left: 10px; */
	/* top: 450px; */
  top: 500px;
	text-align: center;
}

#hintergrund{
	height: 830px;
	width: 1200px;
  border: none;
}
#button_back{
	position: absolute;
	left: 450px;
	top: 770px;
}

#button_feedback{
	position: absolute;
	left: 650px;
	top: 770px;
}
