#spinner {
  background: url(http://i.stack.imgur.com/0Fc85m.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 75px;
  width: 300px;
}
.number {
  background: url(http://i.stack.imgur.com/c0ufam.png);
  background-repeat: no-repeat;
  background-size: 50% 300px;
  height: 75px;
  width: 30px;
  margin-left: 5px;
  float: left;
  
}


