#ruth{
 display:flex;
 position: absolute;
 left: 400px;
 top: 50px;
 height :600px;
 width: 400px;
 z-index:2;
}

#mund {
  display:none;
}

#mund.display {
  display: block;
  position: absolute;
  left: 565px;
  top: 265px;
}